<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to "CodaisShoe", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
          <li id="login"><%= link_to "Log In", new_user_session_path %></li>
          <li id="login"><%= link_to "Sign Up", new_user_registration_path %></li>
        <% else %>
          <li class="dropdown">
        <button id ="profilebtn" type="button" class="btn btn-default btn-lg">
          <%= link_to "My Cart", cart_path(current_user.id) %>
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
        </button>

  <a  href="#" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  <li id="login"> <%= current_user.has_profile? ? current_user.full_name : current_user.email  %></li>
    <span  id="profilemenu" class="caret"></span></a>
  <ul class="dropdown-menu">
    <li  role="separator" class="divider"></li>
    <% if current_user.has_profile? %>
      <li><%= link_to "Edit Profile", edit_profile_path(current_user.profile) %></li>
    <% else %>
      <li><%= link_to "Create Profile", new_profile_path %></li>
    <% end %>
    <li><%= link_to "Edit Password", edit_user_registration_path %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
  </ul>

</li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>
