<div class="dropdown show">
  <a class="btn btn-default dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Welcome to shoeland
  </a>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
  <li><a class="dropdown-item" >  <%= link_to "Sort: I'm cheap", shoes_path(sort: "price_asc") %></a></li>
  <li><a class="dropdown-item" >  <%= link_to "Sort: I have money ", shoes_path(sort: "price_desc") %></a></li>
  <li><a class="dropdown-item" >  <%= link_to "Sort: Tinny feet", shoes_path(sort: "size_asc") %></a></li>
  <li><a class="dropdown-item" >  <%= link_to "Sort: Bigfoot", shoes_path(sort: "size_desc") %></a></li>
</ul>
</div>


  <section class="gallery">
  <% @shoes.each do |shoe| %>
     <article class="card">
        <div class="img">
          <%= image_tag shoe.photo.image.thumbnail %>
        </div>
        <div class="shoetext">
      <h2 style = "text-decoration: none; text-align:center; "><%= link_to shoe.name, shoe %></h2>
        <p><%= shoe.description %> </p>
        <p id="price">Price: </h4><%= shoe.price%> €</p>
  </div>
      </article>
   <% end %>
</section>

<div style="height: 30px;"> </div>
