<div class="panel panel-info">
  <div class="panel-heading"><h4><%= @shoe.name %></h4></div>

  <div class="panel-body">

    <h4>Price: <%= @shoe.price %></h4>
    <h4>Description: </h4>
    <p><%= @shoe.description %> </p>
  <p>  <h4>Size:</h4><%= @shoe.size %> </p>

  <%= form_for @cart_item do |f| %>
    <%= f.hidden_field :shoe_id, value: @shoe.id %>
    <%= f.number_field :quantity %>
    <%= f.submit "Add to cart" %>
  <% end %></p>


         </div>
       </div>
